<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="dbserver" value="dbsrv\dbsrv"/>
    <add key="dbbase" value="clon"/>-->
    <add key="dbserver" value="dbsrv2"/>
    <add key="dbbase" value="real"/>
    <add key="maxCountThreads" value="5"/>

    <add key="BoxArkonaLogin" value="arkona@arkona36.ru"/>
    <add key="BoxArkonaPassword" value="arkona))511"/>

    <add key="DebugEmail" value="muhinan@arkona36.ru"/>

    <add key="FolderPrices" value="C:\\Falcon"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
